[2020-03-19 08:26] murata2makoto opened #1 "Make clear which non-recommendation can be normatively referenced"
EPUB 3.2 relies on CSS Snapshot and some registries at IDPF.  CSS Snapshot is just a W3C Working Group Note.  IDPF registries do not have any official status in W3C.  Other standardization organizations disallow such normative references typically.

I am not saying that we should not make W3C Recs that rely on these normative references.  I just want to make clear what is allowed and what is not a

[2020-03-19 08:39] iherman commented on #1
What is the official situation, or a possible derogation, @swickr @plehegar ?

It is a separate question whether this should be part of the charter. My instinct says no. But it must be discussed and this is a good time for it...

[2020-03-19 08:41] iherman commented on #1
@murata2makoto I believe the WG can (and maybe should?) take over the control and maintenance of the IDPF registries. Could you raise a separate issue on this? It would deserve a separate discussion and possible addition to the charter...

[2020-03-19 08:54] murata2makoto opened #2 "IDPF registries"
EPUB 3.2 relies on some IDPF registries.  They are

- [Authority Registry] EPUB Subject Authorities Registry. URL: https://www.idpf.org/epub/registries/authorities/
- [RoleRegistry] EPUB Collection Roles Registry. URL: http://www.idpf.org/epub/registries/roles
- [TypesRegistry] EPUB Publication Types Registry. URL: http://www.idpf.org/epub/vocab/package/types
- [EPUB-SSV] EPUB Structural Semantics

[2020-03-19 09:03] iherman commented on #2
I believe, just like it is the case in several other WG-s, this Working Group should become officially the guardian of these repositories. The WG will have to develop the proper governance routes for them, but there are other examples we can follow.

I presume the IDPF URL-s should remain valid and redirected to the new incarnation of the registries (probably a github repo).

The question is wheth

[2020-03-19 09:31] murata2makoto commented on #2
Could you provide examples of other registries owned by other W3C WGs?  I think that the charter should be clear about registries especially when the upcoming WG becomes responsible for them.

[2020-03-19 10:07] iherman commented on #2
* https://www.w3.org/2011/rdfa-context/rdfa-1.1 is a sort of registry (not using the term).
* https://w3c.github.io/tt-profile-registry/ is in development
* https://github.com/w3c/did-core-registry is in development

There are probably more. There is also an active discussion on registries https://www.w3.org/wiki/Registries and there _may_ be some more explicit process steps in the future.

The de

[2020-03-19 17:16] swickr commented on #2
Thank you, @murata2makoto, for highlighting these registries.  As @iherman notes, it seems fairly clear to me for a future EPUB Working Group to be given responsibility for guardianship of these for the duration of its charter.  Any W3C Recommendation Track work that normatively cites those repositories should come with a clear expectation and documentation of their maintenance and change control.

[2020-03-19 17:22] swickr commented on #1
There is ample precedent in W3C Recommendation Track work for how normative references to CSS may be made.  The specific needs of a (future) EPUB 3 Recommendation will dictate what the (future) EPUB Working Group decides is the most appropriate set of CSS specifications to reference among the choices W3C has available.

The same applies to the IDPF registries; while they have no official status cu

[2020-03-19 18:29] AdamSobieski opened #3 "EPUB for Education and Digital Textbooks"
The [EDUPUB alliance](http://idpf.org/edupub) formed in 2013. Its work included discussion of: (1)&nbsp;[an education profile](http://idpf.org/epub/profiles/edu/spec/), (2)&nbsp;[education structural semantics](http://idpf.org/epub/profiles/edu/structure/), (3)&nbsp;[scriptable components](http://idpf.org/epub/sc/api), (4)&nbsp;[packaging and integration](http://idpf.org/epub/sc/pkg/), (5)&nbsp;[o

[2020-03-19 19:18] wareid commented on #3
Thanks for raising this! In writing the draft charter we looked at EPUB and all of the associated documents. Right now the charter focuses on bringing the EPUB 3.2 revision to rec track with room for further revisions.

This does not mean we don't have ideas for the associated specs, including EDUPUB. The main issue for us is that many of the satellite specs don't have the same implementation supp

[2020-03-20 00:21] AdamSobieski commented on #3
Thank you. I joined the [Publishing Community Group](https://www.w3.org/community/publishingcg/).

With respect to implementation support, in my opinion it might make a sense to, at a future point, distinguish between an _EPUB Reading System_ and an _EPUB Digital Textbook Reading System_. That is, not every EPUB Reading System need also be an EPUB Digital Textbook Reading System.

Towards incubati

[2020-03-20 05:17] iherman commented on #3
@mteixeira-wwn @rakutenjeff  I wonder how to record this issue for the CG so that it isn't lost? This repository is concentrates on the WG charter, i.e., it may have to be closed, but I do not want the original comment of @AdamSobieski to become lost...

[2020-03-20 16:04] iherman commented on #3
As discussed on the Steering Committee, moving this issue to the Publishing CG issue list

@mteixeira-wwn

[2020-04-12 19:56] GeorgeKerscher opened #7 "Publishing Community group Participation"
In section 4.1, the W3C group s are listed.

The link to Publishing Community group is nested in the description of the Publishing Business Group. I think this should be its own group for coordination.

I believe that the Working Group should actively engage with the Publishing Community Group.  It is from the PCG that we will be able to gain informed feedback and ideas on how to proceed. I believ

[2020-04-13 06:39] iherman commented on #7
@GeorgeKerscher this bug has been taken care of in #6. Could you check there whether the text is now o.k.?

[2020-04-13 08:44] frivoal opened #8 "Strengthen compatibility requirements, involve epubcheck"
The scope section states that compatibility is an important goal, and that is good. But I think it needs to be more explicit and to go further.

Many parts of the web platform have a very powerful and forgiving compatibility model, with the behavior expected of the User Agent in the face of incorrect content being specified with as much detail as in the case of correct content. This makes evolutio

[2020-04-13 08:48] frivoal opened #9 "List the WHATWG in the Coordination section"
The charter mentions HTML as a file format used in EPUB, and correctly links to the definition of HTML at the WHATWG. This is good.

It also says:

This is good too.

However, the WHATWG, which handles HTML is not listed in the Coordination section. It should be.

[2020-04-13 08:51] frivoal opened #10 "List the SVG WG (and CG) in the Coordination section"
The charter mentions SVG as a file format used in EPUB, and correctly links to its spec. This is good.

It also says:

This is good too.

However, the SVG WG is not listed in the Coordination section. It should be, possibly alongside the SVG CG.

[2020-04-13 08:57] iherman commented on #9
I agree. I will handle this in a separate PR (alongside the comment in https://github.com/w3c/epub-3-wg-charter/issues/10, which is similar), ie, if somebody opposes this, it can be discussed there.

<sub>[View in Slack](https://iherman.slack.com/archives/C011FD3ST52/p1586767729000300)</sub>

[2020-04-13 11:20] mattgarrish opened #12 "what refinements are planned for epub:type?"
The planned improvements for the Content Documents includes this:

It's not clear what this means, though. It could be interpreted, among other ways, as: 1) maintaining the vocabulary and adding/deprecating values; 2) adding a package document-like mechanism for associating semantics; 3) clarifying that ARIA role should be used for accessibility and they are not equivalent.

Some additional explan

[2020-04-13 11:48] iherman commented on #12
Let me guess. No. 2?

My vote would go for 1) and also 3)

Plus... We have to clarify that if the content document is in HTML (without 'X') then `epub:type` cannot be used.

[2020-04-13 12:04] mattgarrish commented on #12
Bingo!

Technically only 3) would apply to content documents. The structural semantics vocabulary is a separate document and has had its own revision cycles. We generally always do some maintenance on it during a revision, but would it be helpful to list it as its own deliverable? I believe it's the only non-integrated vocabulary left, and someone needs to own it.

Right, I'm assuming details like

[2020-04-13 12:12] iherman commented on #12
Oops, I did not realize this.

Absolutely. Otherwise it is a source of confusion. Is it a normative document, ie, yet another rec, or "just" a vocabulary note that needs some care? (I hope for the latter...)

[2020-04-13 12:15] frivoal opened #13 "Be more explicit goals and motivations"
The "Scope" and "Out of scope" sections seem reasonably clear about what the group can or cannot do, but they are less clear about the motivations for revising EPUB.

To some degree, in order to guide the decision making process as each case comes up, stating the motivations upfront may be useful.

More importantly, this should help organizations assess whether they have an interest in participati

[2020-04-13 12:25] frivoal opened #14 "Surfacing "Technical improvement planned compared to the draft state" better"
The Deliverable section includes a list of documents, expected deadlines, current drafts, and other information that is be mostly about the mechanics of publishing things.

For some of these documents, it also includes "Technical improvement planned compared to the draft state". This is important information, and its relatively easy to miss it where it currently is. Consolidating this in a goals s

[2020-04-13 12:28] mattgarrish commented on #12
Good question. It was never published as a recommended specification in IDPF so that we didn't have to do revisions to update it, but lived somewhere between a spec and an informational document.

It's normatively referenced as the [default vocabulary for epub:type](https://www.w3.org/publishing/epub3/epub-contentdocs.html#sec-contentdocs-default-vocab), so I don't know if publishing it as a note

[2020-04-13 12:37] iherman commented on #12
Alas! If it is a normative reference the the vocabulary cannot be a note. It must be a Rec, or part of a Rec... Otherwise we may get into trouble.

Must it be a separate document? Or can it be reasonably folded into another one?

[2020-04-13 12:51] mattgarrish commented on #12
Right, and I wasn't even thinking about the nav doc definitions or its use in media overlays. It is tightly bound to the specs.

I guess that depends on whether we see it being revised more frequently than the core specs anymore. It used to get periodic updates as we developed edupub and the other satellite specs, but in the last few years we've hardly touched it. I tend to think we don't need to

[2020-04-13 12:52] frivoal opened #15 "It is hard to evaluate whether the timeline is sufficient to achieve goals"
On the one hand:

* EPUB is an established and mature technology, and we've already gone through EPUB 3.2, so we should expect needing a that only moderate amount of changes will be needed to go to REC.

* While EPUB makes lots of conformance statements about documents, it makes comparatively few statements about what implementations must do. Since the criteria for entering REC are tied to checkin

[2020-04-13 13:20] frivoal commented on #12
(EPUB noob here, but Process non-noob). Does this vocabulary *do* anything, or does it merely describe a bunch of values that exist and what they mean, but without any particular requirement on software to perform anything in particular when it encounters these values?

If it is that later (I think it is), I don't think it's that problematic to maintain this as a Note, at least until the Process C

[2020-04-13 13:21] iherman commented on #13
@frivoal though I understand your argumentation, we are probably between a rock and a hard place here. We have seen, in the past, several times remarks on charters being too detailed on such matter, requiring the charter to be much more succinct.

One idea may be as follows: as you say, the blog already gives some answers. We could add some more text summarizing what you describe above, add it to

[2020-04-13 13:26] iherman commented on #12
@frivoal yes, it is very much akin to a registry. And, actually, I may have to revise my opinion in https://github.com/w3c/epub-3-wg-charter/issues/12#issuecomment-612881024: after all, usage of registries via some publication means have been used before (and are being worked on in current WG-s like in the DID WG). If Process-2021 provides some general framework for registries (at last...) that ma

[2020-04-13 13:27] frivoal commented on #13
I don't think it needs to be anywhere nearly as long as the blog. What I have in mind is more of a couple of sentences about what we're aiming to achieve, followed by a consolidation of the various points in "Technical improvement planned compared to the draft state" and of what is under "Other Deliverables", as well as a clarification as to whether this list is meant to be exhaustive of what is i

[2020-04-13 13:30] mattgarrish commented on #12
Strictly within content documents, no, there are no requirements.

But when you get to the navigation document the `toc` value is the key to identifying and processing the table of contents (the same is true of the `page-list` and `landmarks` values). It might be hard to classify those as not integral to processing.

Media overlays is a little murkier. The semantics are used to identify structures

[2020-04-13 14:39] GeorgeKerscher commented on #7
I think this language is OK, but I want to make sure the PCG is on top of what the WG is proposing.

Best

George

From: Ivan Herman <notifications@github.com>
Sent: Monday, April 13, 2020 12:39 AM
To: w3c/epub-3-wg-charter <epub-3-wg-charter@noreply.github.com>
Cc: George <kerscher@montana.com>; Mention <mention@noreply.github.com>
Subject: Re: [w3c/epub-3-wg-charter] Publishing Community group P

[2020-04-13 14:42] iherman commented on #7
@GeorgeKerscher, I have pinged @mteixeira-wwn in https://github.com/w3c/epub-3-wg-charter/pull/6#issuecomment-612927451. I will close this issue and discuss possible changes in #6, in conjunction with the PR.

[2020-04-13 14:42] #7 closed, assigned to nobody

[2020-04-13 17:50] dauwhe commented on #9
Fixed via #11

[2020-04-13 17:50] #9 closed, assigned to nobody

[2020-04-13 17:50] dauwhe commented on #10
Fixed via #11

[2020-04-13 17:50] #10 closed, assigned to nobody

[2020-04-13 20:17] dauwhe commented on #12
It was originally "Replacement for epub:type," but the text was changed in the draft Google Doc before being moved to GitHub.

`epub:type` is perhaps the most problematic thing in EPUB content documents. How much time has been spent arguing about it, trying to explain it, trying to figure out how to use it? People think it's important for accessibility. It isn't. People think reading systems use t

[2020-04-13 21:21] mattgarrish commented on #12
It doesn't have to be, though. As you say, we just make it a legacy xhtml-only EPUB feature and not bother with it anymore (with the recommendation to use ARIA for accessibility). We're not obligated to ensure that non-essential features work everywhere. Otherwise, what are you going to do about the ssml:* attributes?

This is one of the areas where pushes for HTML have fallen apart in the past. W

[2020-04-14 09:32] toshiakikoike opened #16 "Distinguish EPUB 3.2 from EPUB 3.X"
In the scope it seems a little unclear that EPUB 3.2 and EPUB 3.X are different.
I hope it is clearly stated that EPUB 3.2 spec will be kept as is, and EPUB 3.X will be the following version.

[2020-04-14 09:33] toshiakikoike opened #17 "Change "Allowing the HTML Serialization of HTML5" to "Considering allowing ~""
About "Allowing the HTML Serialization of HTML5" stated below,
 &gt; 2.1 Normative Specifications
  &gt;EPUB Content Documents 3.X
    &gt;Technical improvement planned compared to the draft state:
      &gt; Improved Alignment with Web Platform:

I am afraid of "allowing" becoming a premise of the charter. HTML Serialization needs a lot of argument because it has a big impact on reading system an

[2020-04-14 12:37] iherman commented on #17
@toshiakikoike thank you. I have added some changes in the PR #18; could you check whether this is o.k. with you?

[2020-04-14 12:37] iherman commented on #16
@toshiakikoike thank you. I have added some text, making explicit what is 3.X and that 3.2 itself will not change, in the PR #18. Could you check whether this is o.k. with you?

[2020-04-14 12:38] iherman commented on #14
@frivoal I think #18 covers what you propose.

[2020-04-14 12:39] iherman commented on #13
@frivoal I have lifted some text (only 1-2 sentences) from the blog into the draft, see PR #18. If you believe we need more than that, I think having a separate wiki page or something similar is probably the best solution...

[2020-04-14 12:45] iherman commented on #12
Yep, we should be careful about getting to a new permathread...

In #18 I have taken over what @mattgarrish proposed to nuance the `epub:type` issue.

I also believe that we may get by with the 'registry' approach for the `epub:type` vocabulary, although the requirement in TOC might be a problem. But we may argue, using the [normative references](https://www.w3.org/2013/09/normative-references) do

[2020-04-14 12:51] iherman commented on #2
The discussion on`epub:type` (see #12) have revealed that we may also need a registry for the values of `epub:type`. That one may be at the heart of some discussions in the WG (e.g., due to HTML usage) and, maybe for this reason, it may be worth adding a line to 2.2. (Other deliverables.) Something like

[2020-04-14 12:54] iherman commented on #1
@murata2makoto actually (as I was reminded related to another Working Group) the guiding document is [“Normative references”](https://www.w3.org/2013/09/normative-references). I believe that if follow the approach described there, we are covered on, say, the CSS reference.

If this is a satisfactory answer on the original question, could you close this issue?

[2020-04-14 14:29] murata2makoto commented on #2
@iherman epub:type uses EPUB-SSV, which I mentioned already.

[2020-04-14 14:38] murata2makoto commented on #15
I guess that it is hard to ensure interoperability without breaking compatibility with existing contents.  To me, backwards compatibility is clearly more important than interoperability.  I thus think that "Success Criteria" should be less strict.

[2020-04-14 14:45] murata2makoto commented on #8
In general, I love backwards compatibility with existing EPUB publications.  But I have thought that some features in EPUB 3.2 has never been used.   For example, has [rendition: align-x-center](https://www.w3.org/publishing/epub3/epub-packages.html#align-x-center) been ever used?  Even if epubcheck does not complain about this, I am happy to drop this feature.

[2020-04-14 15:00] murata2makoto opened #19 "Two independent implementations?"
When some feature is used by commercial EPUB publications and is supported by ONE reading system?  I would strongly argue that this feature should not be dropped.  Thus, I would like to drop the first paragraph in 3. Success Criteria.

[2020-04-14 15:02] murata2makoto opened #20 "No tests when we drop unused features"
The last sentence in "Success Criteria" is "To promote interoperability, all changes made to specifications should have tests."  But when we drop features that have never been implemented, we do not need tests.

[2020-04-14 15:14] iherman commented on #20
@murata2makoto I am not sure I understand this remark. You are of course right, but the success criteria is for the features that do become part of the standard. Ie, this sentence sounds all right to me.

[2020-04-14 15:17] iherman commented on #2
@murata2makoto

you are right, but the point is that, per #12, that registry may be a matter of more discussions, hence I am of the opinion that adding them to the list of non-recommendation deliverables may be better.

@swickr wdyt?

[2020-04-14 15:20] dauwhe commented on #19
How can we demonstrate a feature is interoperable with only one implementation? This would also seem to be evidence that the market is not interested in the feature, as if it was useful others would likely implement it.

Do you know of any such features?

[2020-04-14 15:35] murata2makoto commented on #19
Suppose that align-x-center is supported by one implementation and is used by some publishers.

[2020-04-14 15:42] iherman commented on #19
If a feature is implemented by only one reading system (and that is what our tests show) it does not automatically mean that the feature is _removed_ from the specification; that is a separate decision of the Working Group. It _may_ just mean that this is kept but not as a _standard_ feature but, instead, as a documented, but "informative" feature describing a single, product specific feature (whi

[2020-04-14 16:03] wareid commented on #13
I think Ivan's amendments in the PR address some of the clarification. I agree with him that this document cannot and should not be an exhaustive list of everything we might or might not look at in the EPUB documents.

[2020-04-14 16:10] wareid commented on #8
I am reluctant to tie EPUBCheck and EPUB3.X too tightly together since they're independent of each other. EPUBCheck validates EPUBs based on the requirements laid out in the specification, but also does more than that (and has more planned in the future).

I'd love an example of something where EPUBCheck and the spec disagree (except the major known one regarding spine order please). I don't think

[2020-04-14 16:19] wareid commented on #15
I think the time span is appropriate considering EPUB has something not every rec-track specification has: a huge ecosystem of existing implementations. There are probably well over a hundred implementations of EPUB in the market today, if not hundreds. When it comes time for testing we have a lot of examples of implementation to work with in the testing phase. The hardest part for us will really

[2020-04-14 16:23] dauwhe commented on #15
I agree that the hard part will be figuring out what tests are needed, and then writing them. I think this is all possible in two years, although we can't really know. But I agree with @wareid that we probably don't need to worry about this right now. But we have no intention of sacrificing the quality of the specs for the sake of any arbitrary timeline.

[2020-04-14 16:25] wareid commented on #19
Everything Ivan said!

I'd also add that considering the number of in-market implementations of EPUB in all it's flavours, if there's an implementation of something used exclusively by one reading system only, I think it's worth looking at why that has happened. Is there either something they could do differently that the spec hasn't made clear to them, or is that feature actually more usable, but

[2020-04-14 19:19] TzviyaSiegman commented on #8
@wareid said what I was going to say. We intentionally did not tie EPUBCheck to the charter because it functions independently. The https://github.com/w3c/epubcheck community has been extremely responsive to concerns about compatibility with real-world workflows. I think we can close this issue as  I believe it is not relevant to the charter but to EPUBCheck.

[2020-04-15 00:09] murata2makoto commented on #20
So, are you saying that features dropped from EPUB 3.X (X>2) do not require tests?

[2020-04-15 01:29] toshiakikoike commented on #16
@iherman Thank you. The texts are totally o.k .

[2020-04-15 01:29] toshiakikoike commented on #17
@iherman Thank you. The texts are totally o.k .

[2020-04-15 04:09] davidstroup commented on #13
Should the in scope document say something like "..includes but is not limited to"?
For the out of scope section do we want to provide a footnote as to where the out of scope items will be discussed if known?

[2020-04-15 05:08] iherman commented on #20
I presume this refers to the situation in #19.

I think the logical order in your question is misleading. The WG may decide not to _drop_ features, just mark them as non-standard (but nevertheless keep it in the specification as a non-standard feature). The "success criteria" refers to the features that do become (or not), at the end of the process, a recommended feature, and this is determined by

[2020-04-15 05:11] #14 closed, assigned to iherman, mattgarrish, dauwhe, wareid

[2020-04-15 05:11] #16 closed, assigned to nobody

[2020-04-15 05:11] #17 closed, assigned to nobody

[2020-04-15 05:13] iherman commented on #13
@davidstroup the PR #18, just merged, includes now just that!

[2020-04-15 05:13] iherman commented on #13
Closing, per https://github.com/w3c/epub-3-wg-charter/pull/18#issuecomment-613818818

[2020-04-15 05:13] #13 closed, assigned to mattgarrish, TzviyaSiegman, dauwhe, wareid

[2020-04-15 05:20] murata2makoto commented on #19
@iherman

Sorry, I am puzzled by "informative feature".  Is a document containing this feature conformant?  Or, is it non-conformant?  This is a black-and-white question.

[2020-04-15 05:23] murata2makoto commented on #20
@iherman You wrote: "if that particular feature does not pass the criteria then it becomes a non-standard features and marked it such".  But this is not documented in the W3C process document.  Is this your personal proposal?

[2020-04-15 05:32] murata2makoto commented on #1
I agree that the W3C document “Normative references” is important.  But it does not mention CSS or W3C Note.  I thus think that my original question has not been answered yet.

It might make sense to defer the question to the upcoming WG.  But I do not want to easily close this issue without broader discussions.  I think that one reason of the failure of (P)WP was the charter created in a hurry.

[2020-04-15 05:36] murata2makoto opened #21 "Any properties or values that influence rendering inside viewports in 1.1"
Since EPUB 3.2 already contains such properties or values, we need "new" or "addition".  Removal of unused such or adding a warning about the use of such are perfectly in the scope.

[2020-04-15 06:42] iherman commented on #20
Any WG has the right to include non-normative features in a Spec if it is properly marked (a  recent example is in the upcoming [JSON-LD 1.1 document](https://www.w3.org/TR/json-ld11/#the-rdf-compoundliteral-class-and-the-rdf-language-and-rdf-direction-properties)). The process talks about how a feature becomes _normative_ and the "at risk" mechanism _is_ [part of the process](https://www.w3.org/2

[2020-04-15 06:45] iherman commented on #19
Considering this feature, and this feature alone, the issue of conformance does not apply. Conformance of a document (or a reading system) is only relevant in view of the normative features.

This is the "legal" aspect. In practice, one can discuss whether these features are checked (or not) by epubcheck. But that is not the WG's decision.

[2020-04-15 07:04] murata2makoto commented on #19
@iherman

Sorry, I still do not understand.  Suppose that align-x-center is marked as "informative feature".  Is an EPUB publication containing conformant or non-conformant?  I strongly believe that conformance is the most important thing in standardization.

[2020-04-15 07:12] frivoal commented on #8
I agree that epubcheck being an external entity makes this a little awkward. Also that they have been very responsive and cooperative, so I am not worried about them as such.

In practice, epubcheck has defined what EPUB is more than the spec has, because that is what documents have been validated against. Not that they are necessarily very different—epubceck does attempt to enforce the spec—but "

[2020-04-15 07:52] murata2makoto commented on #20
@iherman If I am not mistaken, the process document allows features at risk in CRs.  Not in RECs.

[2020-04-15 08:17] iherman commented on #20
Of course. Once it is a Rec each feature is either normative or non-normative. The decision to get there for the type of features we are discussing may be done by following the 'at risk' procedure.

[2020-04-15 08:21] iherman commented on #19
If a document is _**otherwise conformant**_, ie, if it is conformant vis-a-vis all features it uses and _**are**_ normative, and `align-x-center` is marked as an "informative feature" then yes, it is conformant.

[2020-04-15 08:26] murata2makoto commented on #19
Are there any W3C recommendations that provide "informative features"?

[2020-04-15 08:51] iherman commented on #19
Some examples in my own practice:

- JSON-LD 1.1 (will go to PR very soon, maybe next week), e.g., [“The rdf:CompoundLiteral class and the rdf:language and rdf:direction properties”](https://www.w3.org/TR/json-ld11/#the-rdf-compoundliteral-class-and-the-rdf-language-and-rdf-direction-properties)
- Annotation Model, e.g., [“Additional Media Types/Selector Combination”](https://www.w3.org/TR/annotat

[2020-04-15 09:51] murata2makoto commented on #19
@iherman Thanks.  I am flabbergasted.  In the ISO world, something can be informative only when it can be safely dropped without any impacts on conformance.

[2020-04-15 10:19] frivoal commented on #15
In the past, group success or failure has been judged based on ability to hit deadlines as stated in the charter. If the timeline is realistic, great. If we think it's going to take longer and count on renewing the group's charter to complete the work, I have no issue with that at all, but we should be upfront about it, to avoid being blamed later for "failing to deliver".

I agree that EPUB is ma

[2020-04-15 11:25] #12 closed, assigned to TzviyaSiegman, dauwhe, wareid

[2020-04-15 11:49] mattgarrish commented on #21
If we don't want to get into adding more package metadata properties, we're certainly free to rule them out of scope for this revision.

But there is an assumption that all properties could be handled by other groups, and I'm not sure how likely that is. We could always leave some wiggle room by being less absolute:

"Any properties or values that influence rendering inside viewports<del>; these i

[2020-04-15 12:08] iherman commented on #21
Although a charter is not a recommendation, I believe the usage of 'should' is perfectly adequate in:

I.e., _unless there is a good reason to do it_, this WG is not in the business of adding new CSS attributes or HTML elements. Otherwise we would get into arguments about this WG attempting to "fork the Web".

I do believe the current text is adequate, and can cover the (exceptional) cases that mi

[2020-04-15 13:27] mattgarrish commented on #21
That's another problem with the bullet, as EPUB has gone in the direction of extending other technologies and also defined its own package rendering metadata. The bullet sounds like it rules out doing anything to package metadata, which includes epub-specific stuff like fixed layout metadata. I think we all agree the former needs to be out of scope, but the latter is a bit more complicated.

It's

[2020-04-15 13:46] iherman commented on #21
actually... I am not sure what this refers to. What is the meaning of 'viewports' in this context?

[2020-04-15 14:13] dauwhe commented on #21
I use viewport in the CSS sense--the area of the display where EPUB content is presented to the user. I had to use plural because of synthetic spreads, where the reading system needs to create two viewports side-by-side.

[2020-04-15 14:15] dauwhe commented on #21
This works for me. But I very much hope that there are no new properties or values that cannot be deferred to other working groups. EPUB has gone quite a ways down the path of controlling rendering. We can't go backwards now, but we can at least stop increasing the distance between EPUB rendering and web rendering.

[2020-04-15 14:23] dauwhe commented on #19
@iherman, is there documentation of this? I don't see anything in the regular process document.

[2020-04-15 14:44] mattgarrish commented on #21
I share that sentiment, too!

I don't see anything in the tracker, and I'd hope we've had our fill of new rendering properties and values by now. The wording doesn't mean we have to accept anything, either, only that we don't bar any discussion by virtue of the scope.

[2020-04-15 15:41] iherman commented on #21
Created a PR: https://github.com/w3c/epub-3-wg-charter/pull/22

[2020-04-15 15:50] wareid commented on #20
As Ivan said, it's far to early now to discuss what features will be normative or not, as it's not something we need to state in the charter.

Whatever happens, W3C has process for how to handle those features, and we'll follow it accordingly, if it is required.

[2020-04-15 16:05] swickr commented on #19
@murata2makoto ,

Conformance to a W3C spec is often defined explicitly within that spec.  W3C precedent is that features that affect conformance are explicitly so stated as normative.  Recent specifications are also frequently even more explicit about this; identifying how normative sections and non-normative (aka "informative") are marked.  A very recent example is the W3C [Web of Things Descrip

[2020-04-15 17:30] swickr commented on #20
@murata2makoto

All feature changes (even better, all features; not just those that have changed) should have tests; that is the way we'll know (during CR) whether the feature has interoperable implementations.  Tests can be classified as to whether a test failure is a conformance issue or not; that will also help the WG to decide what "conformance" means as they propose to advance the specificati

[2020-04-15 18:13] mattgarrish commented on #20
Is the question here about new features that we try to introduce into a 3.X that have never existed before or whether we have to include tests for features that exist in 3.2 right now but that we'll discover aren't supported and that we intend to deprecate?

I'm assuming the latter is being asked, and the statement is a bit at odds with that, no?

[2020-04-15 18:21] mattgarrish commented on #20
Although it doesn't really matter. It only says there "should" be tests, so there's already enough leeway there for obvious non-testing scenarios.

[2020-04-15 21:11] murata2makoto commented on #20
@mattgarrish I am talking about features in 3.2.  I don't know what is odd, but I agree that obvious non-testing scenarios are allowed by the use of "should".  @swickr  I also agree that we might want to create tests even for failed features.

[2020-04-15 21:11] #20 closed, assigned to nobody

[2020-04-15 21:27] murata2makoto commented on #19
@iherman and @swickr It appears that I have to learn more about current practices in W3C.  (I'm not sure if I agree, though.)  But I am relieved to hear that you do not intend to automatically drop features that do not satisfy the "Two independent implementations" criteria.  Agree to close this issue.

[2020-04-15 21:27] #19 closed, assigned to nobody

[2020-04-15 21:27] mattgarrish commented on #20
Sorry, "at odds" just means to be in conflict. I agree there's no point developing tests for something we know we plan to deprecate, but I'm okay with the current wording allowing that.

[2020-04-16 06:47] #21 closed, assigned to mattgarrish, dauwhe, wareid

[2020-04-16 06:50] iherman commented on #1
Any specific reason not to close this issue? Clearly, this is a central question for all WG work (and is for any Working Group, in fact) but I fail to see anything to be changed on the charter itself.

[2020-04-16 21:29] dshioham opened #23 "Keeping backward compatibility and maintenance of EPUB business ecosystem; without any disruptions to be caused by the EPUB Recommendation Track process"
In reference to the proposed charter above and intentions to moving forward with EPUB 3 for W3C Recommendation Track (“Rec Track”), we are writing this on behalf of the Japanese publishing industry community including publishers, eBook distributors, eBook reading system developers/providers, industry organizations, et al currently participating to the EPUB 3 based eBook business ecosystem to secur

[2020-04-16 23:12] murata2makoto commented on #1
What is the schedule for this draft charter?  The charter of the PWG was prepared in a hurry (for having a F2F) and was not extensively discussed in teleconferences.  New people did not join.  One guy left.  (P)WP failed.  I am not sure if we are not going to repeat the same mistake.  One could certainly argue against this charter completely (i.e., don't fix the spec when people know how to avoid

[2020-04-17 06:45] iherman commented on #23
(For admin: the quote of @frivoal is in issue #8, that is where the specific discussions happen.)

[2020-04-17 06:52] iherman commented on #1
@murata2makoto there is no fixed schedule. The charter draft includes start dates for the WG, but that is only a draft; those dates can, and should, be adjusted depending on the date when the charter is submitted for a formal approval to the Advisory Committee.

[2020-04-17 07:02] murata2makoto commented on #1
@iherman Thank you.  Is an internal review by the PBG planned?  Will the draft charter be submitted to the AC without explicit support by PBG members?

[2020-04-17 07:06] iherman commented on #8
@frivoal while I understand the roots of the proposal (some of those issues have been discussed in #19) what bothers me is that epubcheck is also a living entity. It is not, and should not be, frozen; it is continuously developed. In an ideal situation, it would co-develop with the evolution of EPUB 3.X, and this is envisaged in the liaison section of the standard (maybe this should be made strong

[2020-04-17 07:12] iherman commented on #1
I would leave the answer to the Steering Committee. But the PBG has been already asked, on several occasions, to comment on the charter in some way or other (and I thank you and others who have already done that, I think the charter has been improved in the past few days).

CC: @swickr @TzviyaSiegman.

[2020-04-17 07:40] murata2makoto commented on #8
@iherman @frivoal In ISO, I have heard of "reference implementation".  I have never seen it, but AFAIK, it is basically a normative annex.  If the rest of the spec is in conflict with the reference implementation, you cannot easily say that the reference implementation is broken but the spec is not.   In other words, conflicts between the reference implementation and the rest of the spec are treat

[2020-04-17 09:29] iherman commented on #8
@murata2makoto I do not know whether the W3C process would accommodate with such a concept. Regardless, I do see two problems, though:

1. In general, W3C members have always pushed back against W3C, as such, developing some reference implementations, because they regard that as a competition to their own business. On the other hand, W3C is governed by a strict vendor neutrality, so picking such a

[2020-04-17 13:42] wareid commented on #23
I think we have strengthened the language around this in Ivan's latest revisions to scope, but if there is anything else we can change to further reassure anyone, please do provide suggestions!

[2020-04-17 14:38] dauwhe commented on #23
The charter states "Any EPUB 3.2 publication should be valid under any new version of EPUB published by this Working Group," which I think is an even stronger statement. I don't see how we can make that statement any stronger.

What is meant by "ill-effect"? Existing EPUB 3.2 files will be valid EPUB 3.X. It's possible that there will be new features in EPUB 3.X that are not in EPUB 3.2, which con

[2020-04-22 01:46] #1 closed, assigned to plehegar, swickr

[2020-04-22 01:57] murata2makoto commented on #23
@dauwhe

In Japan, people follow the EBPAJ profile thus avoiding a lot of pitfalls of EPUB 3.  Features in this profile already have multiple independent implementations.  It is thus unclear what advantages the REC-track EPUB 3 can provide.

For example, non-XML syntax of HTML5 might cause such ill-effects, since some EPUB RSs in Japan are not based on browser engines.  Different RSs might parse t

[2020-04-22 12:57] iherman commented on #23
I am not sure I understand the example. If a RS is not based on an existing browser engine and, nevertheless,  _**if**_ that particular reading system decides to implement a non-XML syntax HTML5, then the EPUB 3.X (and, in this case, the HTML5's) test suite would play an essential role to implement that feature in an interoperable manner, i.e., to avoid the situation you are describing. In other w

[2020-04-22 13:28] GeorgeKerscher commented on #23
Hello,

I too do not see this as an issue. Some dedicated devices without screens used by the blind may not use browser code for the implementation of their RS. They are responsible to address the audio presentation issues in those cases. This is normal implementation for them.

Best

George

From: Ivan Herman <notifications@github.com>
Sent: Wednesday, April 22, 2020 6:58 AM
To: w3c/epub-3-wg-cha

[2020-04-22 13:30] iherman commented on #8
@frivoal, trying to close this issue (and the related issue #23)...

I continue to think that a dependency on epubcheck is not appropriate. Things would be in a reverse order:  the development of epubcheck _relies_ on the latest EPUB 3.2 document; in fact, it is much more stringent today than it was with EPUB 3.01. I believe that relationship should remain unchanged.

However, your second proposed

[2020-04-22 13:57] murata2makoto commented on #8
I think that the idea of blessing epubcheck as a reference implementation should be discussed in the PBG.  It should not be easily turned down.

I do not agree on Ivan's two points.  Rather, I think that it might become a bit easier to solicit more funding if epubcheck becomes a reference implementation.  I recently learned that JPEG 2000 has a reference implementation, [OpenJPEG](http://www.openj

[2020-04-22 14:01] iherman commented on #8
I would like to understand what you do not agree with... those points are merely describing facts.

[2020-04-22 14:36] murata2makoto commented on #8
@iherman

Nobody is challenging epubcheck.  Everybody is using it.  It is very hard to imagine somebody is going to assume it as a challenge to their business.

If we can say that epubcheck is a reference implementation, it might become a bit easier to solicit more funding.

[2020-04-22 14:41] wareid commented on #8
I know it is a charter, but I am wary of statements like "must" considering we haven't explored anything yet, and I do not want to paint ourselves into an awkward corner. I prefer Ivan's wording.

This is my first charter so I don't know if its common to do this, but I see these things as valid "implementations" of EPUB:
1. A tool that builds EPUB (i.e. InDesign, Sigil, Word2EPUB, etc.)
2. A valid

[2020-04-22 14:43] murata2makoto commented on #23
I remember that some commercial RSes were built without using browser engines.  I would like to ask other JP members about them.

It is true that, conformant implementations will interwork.  We only have to write good specs and build conformant implementations.  But why do we have to work hard and what advantages will we get?  My experiences with EPUB 3.1 and (P)WP make me skeptical.  As I wrote,

[2020-04-22 14:50] wareid commented on #23
(Not to get completely sidetracked but) if EBPAJ is the guidance for Japanese publishers instead of the specification documents, what are we missing in the docs that would bridge that gap? What issues does EBPAJ address the docs don't, especially given the revisions in EPUB 3.2? That seems to be a more pressing matter than whether RSs do or do not use browser engines (something that we cannot cont

[2020-04-22 14:51] murata2makoto commented on #8
@wareid

I had very bad experiences with EPUB 3.1.  I tried to make it backward compatible with EPUB 3.0.1, but I failed to convince people.  It would have been nice if there was a charter which says that all exising EPUB publications must continue to be conformant.  This time, I would like to have a charter that guarantees features used by commercial publications must be kept.  I do not want to b

[2020-04-22 15:12] wareid commented on #8
I think we've included enough language in the charter in other places to guarantee, and I think Dave and I have gone on the record in multiple calls in support of, backwards compatibility. It benefits absolutely no one for us to produce a version of EPUB that is not compatible with previous versions.

I completely understand the fears from EPUB 3.1, but I don't know how many more ways we can say "

[2020-04-23 00:24] murata2makoto commented on #8
EPUB 3.1 was said to be backwards compatible when it was being created.  I am thus still worried.

Here is my worry.  Application of the W3C process to the next version of EPUB might lead to removal of non-interoperable features, even if they are used by one implementation.  I thus would like the charter explicitly state that such non-interoperable features must be kept.  It might be better to ens

[2020-04-23 21:20] mteixeira-wwn opened #26 "Foreign resources, CORS, and alignment with Open Web technologies"
We've defined the following as in-scope for the WG—

And under **Other Deliverables** we list—

With the above in mind, to what extent are we considering work on external/remote resources? Issues around `iframe` elements in particular have come up in [EPUBCheck as well](https://github.com/w3c/epubcheck/issues/852).

The inclusion of foreign resources carries significant value for educational publi

[2020-04-24 07:01] iherman commented on #26
@mteixeira-wwn the "other deliverables" says:

(emphasis is mine). Which means we could add this line into the list without any problems, it does not mean an obligation for the WG to really do it, but it is good to show that this is an issue we care about.

Can you propose a text to be added there?

[2020-04-24 08:20] #2 closed, assigned to TzviyaSiegman, swickr, dauwhe, wareid

[2020-04-24 19:10] GarthConboy opened #27 "Largely thumbs up"
This seems largely reasonable (and good) to us.

The only concerns raised were around all of the deliverables coming at basically the time of Charter expiration and and all of the deliverables coming at the same time.

Perhaps extend the initial Charter length somewhat?

I don't really see a great way of splitting (over time) the deliverables, but perhaps Media Overlay and A11Y could follow the in

[2020-04-24 19:32] dauwhe commented on #27
This issue also came up in #15.

Are charters always two years? Are there risks associated with asking for more?

[2020-04-24 19:50] dauwhe commented on #15
In section 2.3 in the charter, we seem to have a leftover sentence:

Perhaps we could replace this with some text describing our priorities:

[2020-04-25 01:59] murata2makoto opened #28 "EPUB Accessibility Techniques"
The draft charter mentions this IDPF document, but does not explain it.  At least, a link to that document is required.

[2020-04-25 08:41] iherman commented on #28
You are right. I have added a reference in https://github.com/w3c/epub-3-wg-charter/commit/72ccb253cfa470e9c5ff4753911ea9fca93bce4d

Closing the issue.

<sub>[View in Slack](https://iherman.slack.com/archives/C011FD3ST52/p1587779960000100)</sub>

[2020-04-25 08:43] #28 closed, assigned to nobody

[2020-04-25 08:50] iherman commented on #15
I am, personally, ok adding that sentence, but I am not sure what the reaction of W3M and the AC will be. @swickr, any idea?

[2020-04-25 08:59] iherman commented on #27
In general, and extension request is never automatically granted; the group has to show that real advances have been made and there is a reasonable perspective of properly closing the work if the extension is granted. This, by itself, may not be a bad thing, because it holds the WG at bay.

Asking for 3 years upfront may be an alternative, too, I do not know whether it is done these days.

@swickr

[2020-04-25 11:53] mattgarrish commented on #23
Could this be solved by adding a bullet like the following to the out of scope section?

- Removal of existing EPUB-defined features. Existing features will only be deprecated per existing practice.

It means align-x-center remains, for example, but it would be reduced to a deprecation statement pointing back to 3.2.

We need to be careful when we say that no features will be removed, as we don't

[2020-04-25 12:01] iherman commented on #23
Is there any feature that has _no_ implementations? Or features that, although implemented, but absolutely _nobody_ uses? Because these would be valid reasons for removal as part of a cleanup action, but this clause would forbid that...

This may be fine but we should do that with eyes wide open. Otherwise I agree that this may be the least disruptive way to handle this problem.

<sub>[View in Sla

[2020-04-25 12:09] mattgarrish commented on #23
But this is where we've gotten hung up in the past. Determining what is supported where isn't as easy as it is with browsers. And we have people who have used a feature even though it isn't supported and don't want their publications to become invalid.

Some "features" are like metadata, so SSML, pronunciation lexicons, package metadata, etc. don't have to work to be usable without negative effect

[2020-04-25 14:03] iherman commented on #23
Thinking about it further... maybe we are fine. This charter isn't for eternity... a charter may come for a subsequent working group which would stipulate that deprecated features may be removed. We set ourselves limits for these two years.

+1 for me, thus!

[2020-04-25 14:06] iherman commented on #23
(Editorial) Maybe

sounds better?

[2020-04-25 15:06] mattgarrish commented on #23
Right, I suspect we'll need an epub 4 to set that break point, but eventually 3.1 will be recognized for being ahead of its time.

After spending the last 5 years on whether we can throw things out, though, now is probably not the time to rehash the arguments again. Whatever our feelings on thrown out/deprecated, the exercise of clarifying the dead and dying features did help bring clarity about w

[2020-04-25 20:21] murata2makoto commented on #23
@mattgarrish Thanks, Matt.  Yes, this bullet is great!

[2020-04-26 09:44] iherman commented on #23
Created PR #29

[2020-04-26 15:58] shiestyle opened #30 "Market impact by allowing the HTML Serialization of HTML5"
First of all, I think the future EPUB 3.X should be updated and catch up the latest Open Web Platform technologies such as HTML5 and JSON.

However, maybe especially in Japan, changing fundamental specification will bring big impact to the market although adding new features will be fine.

Japanese text layout is complicated and so we have house rules (restricting features or expressions to be use

[2020-04-26 15:58] shiestyle opened #31 "Proposing new EPUB "version" if compatibility will not be kept"
This Working Group will use version=”3.0” for the package file but I think version="3.0" should not be used if the compatibility with existing versions of EPUB 3 will not be maintained during REC process.

When an incompatible version of EPUB will be born, EPUBCheck will follow the latest version of EPUB and the check method will be updated for the incompatible specification. The new EPUBCheck may

[2020-04-26 17:38] iherman commented on #31
@ShinyaTakami thanks. I do have a question though. The charter talks about _backward compatibility_. I.e., any EPUB 3.2 content should remain valid under EPUB 3.X. What type of "incompatible version" do you refer to here in your comment?

[2020-04-26 17:42] iherman commented on #30
@ShinyaTakami, I would need some clarification...

The current charter proposal says:

The last sentence aimed at a safeguard that includes the possible HTML serialization. Can you propose a text to replace or extend this sentence in case you feel that is not enough?

[2020-04-26 23:10] mattgarrish commented on #27
Not sure that would work.

Media Overlays is normatively referenced from the main spec and packages, so we couldn't move those without it.

The accessibility spec probably can move faster than the core specs, and it needs updating to match the coming ISO version. I'm not even sure how testing fits in with it, if at all, as it's guidance on authoring and doesn't change reading systems.

[2020-04-27 01:55] shiestyle commented on #31
I know this working group will try to maintain the compatibility with EPUB 3.2 or current market but  I'm not sure it's possible or not. If maintaining the compatibility will be prioritized than making REC version, it's no problem but if not so, we should consider the incompatible version may be born by this working group.

If someone can guarantee the compatibility, "should" can be changed to "MU

[2020-04-27 04:50] frivoal commented on #15
If that's what we actually expect and intent to do, that's what we should state. There's no good reason for misrepresenting expectations.

Now, if it turns out that these expectations are in themselves seen as problematic by some, we can have a discussion about that, but then writing it down will have served its purpose in surfacing a hidden disagreement.

[2020-04-27 07:10] iherman commented on #31
@ShinyaTakami thanks for the clarification. However, this charter is for the lifetime of _this_ working group. _If_, during the lifetime of the group, such situation arises then we do have two options:

1. the group goes back to the community and the W3C members exposing the situation and seeks an approval for an explicit _rechartering_ of the group; or
2. the group postpones this issue and goes t

[2020-04-27 09:39] shiestyle commented on #31
Thanks @iherman.

I understand two options and I think both of them will be fine.

[2020-04-27 09:40] iherman commented on #31
Thanks @ShinyaTakami. Is it o.k. to close this issue now? I do not think that there is anything to add/modify on the charter; those options are part of the W3C Process.

[2020-04-27 09:53] shiestyle commented on #30
Thanks @iherman.

How about changing the sentence like below?

_"The effects of such new technical features on deployed systems and checking tools and the risk of additional cost for adoption must be carefully analyzed."_

[2020-04-27 09:55] shiestyle commented on #31
OK, thanks!

[2020-04-27 09:56] #31 closed, assigned to nobody

[2020-04-27 09:57] iherman commented on #30
@ShinyaTakami I am fine with such a change; I will prepare a PR later today.

<sub>[View in Slack](https://iherman.slack.com/archives/C011FD3ST52/p1587981239000300)</sub>

[2020-04-27 09:59] shiestyle commented on #30
@iherman Thanks, again.

[2020-04-27 11:10] iherman commented on #27
Yep. I am more inclined to follow @dauwhe's proposed change in https://github.com/w3c/epub-3-wg-charter/issues/15#issuecomment-619209600 if that works.

[2020-04-27 14:46] GarthConboy commented on #27
Yes, that would likely help.

Best,
   Garth

On Mon, Apr 27, 2020 at 4:11 AM Ivan Herman <notifications@github.com>
wrote:

[2020-04-27 16:47] #30 closed, assigned to nobody

[2020-04-28 17:20] swickr commented on #15
I think adding that second sentence would be sufficient.  The first is pretty much what every WG would like to be allowed to say.

[2020-04-29 06:51] iherman commented on #27
Addressed in #33 by extending the charter until the end of the year, and adding some caveats on the timeline section.

[2020-04-29 12:12] mattgarrish opened #35 "Confusing future-looking statement"
I had to read this a few times to wrap my head around it:

The use of "any new version" goes beyond 3.X and this charter, no? I don't think there is any errata against 3.2, but it made it sound like someone could issue errata on 3.2 in the future even though it's been replaced by a newer version.

I think the answer is as simple as switching "any new version" with "the new version", but am open to

[2020-04-29 12:15] iherman commented on #35
Well... I guess that leaves the door open to publish epub 3.2.1 and then epub 3.3 for whatever reasons. It is highly unlikely, but we shouldn't tie our hands.

[2020-04-29 12:34] mattgarrish commented on #35
But this is where it gets confusing, as nowhere else does it say anything about producing multiple versions. There's only this:

Shouldn't that say "at least one new version"? I was assuming we would recharter if we did another version.

But, in any case, once we start talking more than one revision into the future, errata on 3.2 goes stale after the first 3.x. Errata on 3.x could invalidate 3.2.

[2020-04-29 12:39] iherman commented on #35
I can go with that, but I would wait for the others before changing the text. This is a very sensitive sentence:-)

@dauwhe ? @wareid ?

<sub>[View in Slack](https://iherman.slack.com/archives/C011FD3ST52/p1588163699000500)</sub>

[2020-04-29 13:46] dauwhe commented on #35
This whole statement worries me. An extreme example: we publish errata on 3.2 that invalidates every existing EPUB 3.0, 3.0.1, and 3.2. That would not, to put it mildly, be good!

I think the goal is relatively clear: Any existing EPUB which is valid to EPUB 3.2 remains valid to EPUB 3.X, where EPUB 3.X is the product of this working group and its charter. What about

I'm a little wary of a genera

[2020-04-29 14:43] iherman commented on #35
I will do a PR with the latest text and ask for explicit review request from others.

[2020-04-29 14:44] mattgarrish commented on #35
Yup, I share the feeling. I'm not just nitpicking this to be a PITA.

The validity question is a loaded one, especially when new warnings are valid but not always thought of that way. I don't think there are any surprises lurking around in the earlier specs (modulo 3.1) as we were pretty good about only expanding validity not restricting it. That's why the fxl properties don't require anything mor

[2020-04-29 14:45] iherman commented on #15
@frivoal the timing PR (#PR) has been merged, is it o.k. to close this one?

[2020-04-29 14:46] iherman commented on #27
@garth, we have extended the charter to 2.5 years. Is it o.k.? Is it o.k. to close this one?

[2020-04-29 15:45] GarthConboy commented on #27
Great -- I think this and perhaps a little (optional) scope reduction is very helpful.  Thank you.  Closing.

These were the only non-"thumbs up" comments from Google, so I guess we're fully thumbs up now!  :-)

[2020-04-29 15:45] #27 closed, assigned to nobody

[2020-04-30 14:01] dauwhe commented on #26
I think this is an important issue. In the past, EPUB has been described as a website in a box, with everything needed to render the EPUB right there. But we've been slowly creating exceptions to that principle. So where do we draw the line? How do we balance the obvious needs of education with the potential risk of bad user experiences in reading systems that can't handle external resources?

[2020-05-01 06:41] iherman commented on #26
@dauwhe @mteixeira-wwn can you offer a suitable text in the charter? Or should we leave it open in the charter itself and leave that to the CG (the list of open issues that may come into the WG for discussion is pretty much open ended).

Personally, I would opt for the latter, and leave it to the WG and CG chairs to look into this when the time comes.

(If you agree with the latter, we should clos

[2020-05-04 00:36] #15 closed, assigned to nobody

[2020-05-06 08:07] #35 closed, assigned to nobody

[2020-05-07 00:36] TzviyaSiegman opened #38 "formal positive comment"
This is Wiley's formal endorsement of the charter

[2020-05-17 18:24] cmussi opened #41 "EPUB Accessibility and European Accessibility Act"
The new version of the EPUB Accessibility is scheduled for Q1 2023, to be in line with what we discussed for the European Accessibility Act it should be scheduled if possible for Q2 2021 or as second option for Q3 2021.

[2020-05-17 18:25] cmussi opened #42 "Harmonization for European Accessibility Act"
I suggest to add to the scope of the Group:

- Harmonization of the accessibility requirements to the requirement of the so called European Accessibility Act (Directive (EU) 2019/882 of the European Parliament and of the Council of 17 April 2019 on the accessibility requirements for products and services) https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2019.151.01.0070.01.ENG&toc

[2020-05-17 19:28] cmussi opened #43 "Best-practices document for EPUB creators"
I think it would be necessary to develop a best-practices document for EPUB creators (shared with developers of reading solutions) with practical examples of how to implement (in HTML and CSS) many of the problems of inconsistency of layouts expressed in the survey; for example: tables with many rows or columns, live images, poetry, textbooks, etc.. Something like https://friendsofepub.github.io/e

[2020-05-17 19:33] cmussi opened #44 "Fixed Layout"
In the charter there is no mention at all of Fixed Layouts, even if they are discreetly used (and for some books they may be the only option, such as children's books or comics).

I think the group should make a decision on this issue: carry on the FXL or discourage it?

The survey we've made says that several people would like to mix reflowable and FXL.

On the same topic I think we should invest

[2020-05-17 19:35] cmussi opened #45 "Reference to the survey we've made"
I think that in the Charter we should to refer to the survey's requests, because there are several points to which you should give a structured answer, for example: linear=no, dual languages, etc..

[2020-05-17 19:37] cmussi opened #46 "Semantic attributes"
I think we should work on a clear definition of semantic attributes in EPUBs (epub:type, DPub AIR, etc.).

For Dpub ARIA: we need to work with assistive technology developers to make users benefit from the work done by EPUB creators.

[2020-05-17 23:24] dauwhe commented on #44
At this point fixed layout is an integral part of EPUB. It is widely used and widely supported. Since it's integrated into the package spec I don't think we need to mention it explicitly.

Note that the spec already allows mixing reflowable and FXL—it's just not widely supported in reading systems.

I do agree that working on accessibility for FXL is important. I think that is in scope for the a11

[2020-05-17 23:26] dauwhe commented on #43
I think work on best practices is better suited to the community group than to the working group. The EPUB 3 CG started on best practices, but we ran into the usual problems of not having enought participants who had the bandwidth to work on an admittedly large and complex task.

[2020-05-18 04:43] iherman commented on #44
My understanding is that this is an area which is also missing from the ISO version of EPUB A11y. All the more of a reason for taking it on in this WG.

[2020-05-18 04:45] iherman commented on #45
I agree we should have a reference, although I do not think we should get into too much details. This has not been done so far because the survey results, mainly their overview, have not been published yet. @wareid @mteixeira-wwn when do you think this will happen?

[2020-05-18 04:49] iherman commented on #46
@cmussi I would agree but I think such a detailed list of technical features to plan for is something to be done by the WG (at its beginning) rather than listing them in the charter. The scope leaves the technical work open-ended and only emphasizes the safeguards for backward compatibility.

That being said: maybe it is worth making an informal list of issues that have been raised during the char

[2020-05-18 04:51] iherman commented on #42
@avneeshsingh you should probably sync this with what you intent to provide as a text before I create a PR...

[2020-05-18 04:58] iherman commented on #41
We have to be realistic. The WG will not start before September. What I heard on the call is that a complete, finished version of EPUB A11y document in Q2 2021 is simply unrealistic. I believe what is realistic is to

- plan the work in phases, starting with the full alignment with the EU requirement, and put the work on, say, FXL later
- have _a version_ of the document ready (in the form of a WD

[2020-05-18 06:58] avneeshsingh commented on #41
Yes, it is not realistic to complete Recommendation of EPUB accessibility in 2021.

We can definitely have the first working draft in May 2021, which verifies that EPUB accessibility meets the EU accessibility requirements.
We should move all the other work like accessibility of FXL to later part of 2021. FXL is not included in EU requirements anyways.

Further to it multiple renditions is require

[2020-05-18 07:10] iherman commented on #41
Please see the separate #40: if the WG starts in September, the realistic time is more June or maybe even July...

I do not think so. See #44, and also Dave's response (https://github.com/w3c/epub-3-wg-charter/issues/44#issuecomment-629877451). The charter contains very strong requirement on backward compatibility and _not_ to drop exiting EPUB 3.2 features; this is the result of very extensive di

[2020-05-18 07:22] avneeshsingh commented on #41
@iherman wrote:
"The charter contains very strong requirement on backward compatibility and not to drop exiting EPUB 3.2 features; this is the result of very extensive discussions in the past few weeks. I think that FXL stays, and removing it is not an option. If that is the case then I believe addition of FXL-related features into the A11y document is something we must do"

FXL is not a requireme

[2020-05-18 09:34] iherman commented on #41
Yep it does for the same reasons.

[2020-05-18 13:12] dauwhe commented on #46
And which ones by other working groups. The semantics and accessibility of HTML is not just a concern for EPUB :)

[2020-05-18 17:08] GeorgeKerscher commented on #41
Hello,

It would be best if we can find ways to make FXL accessible. The requirement for multiple renditions was  as a work around from the EU for FXL, but it may be a workable technique for other features, such as Manga. We would need implementations to meet exit criteria.

Best

George

From: Ivan Herman <notifications@github.com>
Sent: Monday, May 18, 2020 3:34 AM
To: w3c/epub-3-wg-charter <epu

[2020-05-19 00:38] TzviyaSiegman commented on #46
I agree with @iherman. We should start preparing to do the work, but I don't think we want to be explicit in the charter. If we are too explicit it might limit what we work on in the future.

[2020-05-19 14:01] wareid commented on #45
I'll look into it today, I was waiting on feedback from the SC.

[2020-05-21 12:10] iherman commented on #43
@dauwhe @wareid I added a label for issues that should be taken up by the WG rather than changing the charter text. This, I believe, a typical issue for the sort.

[2020-05-21 12:13] iherman commented on #46
I have set an 'issue for the WG' label. I have added this label on a number of issues (including this one). Probably it is better _not_ to close such issues.

[2020-05-26 18:57] #41 closed, assigned to nobody

[2020-05-26 19:19] dauwhe commented on #23
@dshioham We have made many changes to the charter since this issue was opened, including success criteria that explicitly mention maintaining the global ecosystem. Are you happy with the changes? Is it OK to close the issue now?

[2020-05-29 13:42] liisamk opened #49 "PRH endorsement"
Penguin Random House endorses this charter and the efforts of this WG and Publishing@W3C to further the advancement of EPUB 3 as a well documented, well tested, and primary source of publication format for the exchange of digital publications around the world.

[2020-05-29 14:23] iherman commented on #49
Thanks @liisamk !

[2020-06-09 06:03] brewerj opened #52 "Add coordination with the APA WG"
Please add the Accessible Platform Architectures (APA WG) to the W3C groups listed. (The Accessibility Guidelines Working Group is listed because of potential uptake of EPUB Accessibility; the ARIA WG is listed because of potential use of ARIA in EPUB. But APA WG is the W3C WG usually used for horizontal reviews of accessibility architecture; for instance, for publishing, possible use of accessibl

[2020-06-09 06:20] brewerj commented on #41
With regard to timing of the EPUB Accessibility drafts in the planned EPUB3 Working Group, in terms of harmonization with European development with regard to publishing, there would be no advantage to a Working Draft by May 2021 (as is currently in the charter). And clearly a Recommendation is not possible by then.

However, substantial progress towards a CR, particularly if it were to show emergi

[2020-06-09 06:35] brewerj commented on #42
Viewing the current text in the scope section with regard to EPUB Accessibility, I would like to suggest a few clarifications:

verify that EPUB Accessibility 1.X meets the EU Directive for accessibility requirements for eBooks (European Accessibility Act, Directive 2019/882 of the European Parliament); the WG will conduct a review of the EPUB Accessibility specification for meeting the EU require

[2020-06-09 10:24] iherman commented on #52
@brewerj per the charter template, the groups listed under 4.1 are labelled as 'additional' groups, beyond those that are responsible for horizontal reviews. The HR-s are as a general statement in the introductory paragraph.

I do not mind adding the APA, but then I should also add the other relevant groups like i18n, privacy, security, and maybe the TAG, which makes the list pretty long. AFAIK, t

[2020-06-09 10:30] iherman commented on #41
@brewerj I must admit I am a little bit uneasy about this. I think one of the key features we would like to emphasize is that the development of the A11y spec goes in sync with the rest of the EPUB3 documents all along (as it should be). By pushing A11y into CR almost half a year before the rest of the documents being in CR would jeopardize this view; after all, CR does mean a "feature freeze" for

[2020-06-09 11:53] avneeshsingh commented on #41
@iherman I agree. If the focus is only on EU, then CR is possible in May 2021, but focus on EU should not take away focus from other requirements.
The recommendation would be published in late 2022 or in 2023. If we delay the other requirements to next revision of EPUB accessibility, i.e. beyond 2023, it means that we are not serving our community in right way.
I believe that we should have world

[2020-06-09 13:42] wseltzer commented on #52
From my perspective, no need to add groups for horizontal review purposes. If @brewerj is suggesting APA coordination beyond review, fine to add.

[2020-06-09 14:42] iherman commented on #52
my reading of the proposed text is that it is for horizontal review.

[2020-06-09 14:46] dauwhe commented on #45
Closing as the reference to the survey was added

[2020-06-09 14:46] #45 closed, assigned to nobody

[2020-06-09 14:49] #42 closed, assigned to nobody

[2020-06-10 07:05] iherman commented on #8
@frivoal, I think all the issues/questions have been discussed, and the charter proposal reflects consensus. In order to send the charter proposal to the AC vote (possibly next week), I would like to close this issue by this week end. Is that o.k.?

[2020-06-10 07:05] iherman commented on #23
@dshioham, I think all the issues/questions have been discussed, and the charter proposal reflects consensus. In order to send the charter proposal to the AC vote (possibly next week), I would like to close this issue by this week end. Is that o.k.?

[2020-06-11 07:58] frivoal commented on #8
I'm ok with closing, thanks for checking.

[2020-06-11 09:03] #8 closed, assigned to TzviyaSiegman, dauwhe, wareid

[2020-06-12 17:27] mteixeira-wwn commented on #26
I'm very late in replying to this, but there's a minimum viable product approach to this topic that doesn't open a can of worms. We know that remote resources in EPUB is a reality. Educational publishers use them, whether or not it's valid to do so, and retailers do the same by embedding advertisements. Norton in particular is looking into shifting the internal representation of our higher ed eboo

[2020-06-12 17:53] iherman commented on #26
I am o.k. with this, but @dauwhe @wareid and @shiestyle should definitely chime in...

[2020-06-13 09:57] shiestyle commented on #26
I also think that discussing remote resources for future EPUB is important.

[2020-06-15 04:49] #23 closed, assigned to nobody

[2020-06-15 14:49] #26 closed, assigned to dauwhe, shiestyle, wareid

[2020-06-15 18:36] dauwhe opened #56 "Update name of main branch"
This might be a good time to change the name of the primary branch to "main" instead of "master."

[2020-06-16 06:03] brewerj commented on #52
Amended proposal with specificity so that pre-coordination on this item is not overlooked:

Accessible Platform Architectures Working Group
The APA WG provides horizontal review of potential accessibility issues in the architecture, including knowledge domains for STEM accessibility; as well as accessibility impact of a specification.

[2020-06-16 06:58] iherman commented on #52
I am not sure I understand, @brewerj. Why would we single out a specific area of publishing (I presume you use the term STEM in this respect) and not others? Why is that different from the usual horizontal review?

[2020-06-16 16:44] iherman commented on #56
Not that simple... it seems that the github.io mechanism does not work with other branch names as 'master'. Others are trying to solve the issue (and, I believe, github is looking into it because the request comes from various places).

Closing now, I do not think this issue will be solved before this goes out to the AC...

[2020-06-16 16:44] #56 closed, assigned to nobody

[2020-06-17 06:24] brewerj commented on #52
@iherman The effect of the minimalist "be sure to check with your horizontals" seems to be focused on post-development checks, rather than pro-active coordination. I do not believe that adequately serves the purpose of driving pro-active coordination on specific areas of work that may benefit from discussion during development, rather than after the fact when anything they try to develop together

[2020-06-17 06:54] iherman commented on #52
I think what I wrote in https://github.com/w3c/epub-3-wg-charter/issues/52#issuecomment-641195446 pretty much stands:

What you say is not special to a11y, the same could be said on i18n and the others. Per the whole process of horizontal reviews, the way I understand it, Working Groups are increasingly asked to keep in contact with the various horizontal review groups as early in the process as p

[2020-06-18 04:55] brewerj commented on #52
@iherman Philippe will update you on this, but I think it is inaccurate to think that the extent of intersection between a given Web for All "horizontal" is the equivalent for every charter, and therefore must be listed in an exactly parallel way.
In the case of EPUB, there's a strong history of commitment to accessibility work, and consequently several areas of intersection. The accessibility eff

[2020-06-19 02:34] dauwhe commented on #52
Fixed via #57

[2020-06-19 02:34] #52 closed, assigned to nobody